<header class="navbar navbar-bright navbar-fixed-top" id="bar" role="banner">
  <div class="card-header">
    <a routerLink='/signup'> Signup </a>
    <a routerLink='/login' routerLinkActive='active'> Login </a>
  </div>
</header>
<div id="masthead">  
	<div class="container">
	  <div class="row">
		<div class="col-md-3">
		  <div class="well well-lg wel"> 
			<h3>Download Application
		   <p class="lead"></p>
			 </h3>
			
		   <div class="row">
			 <div class="col-sm-12">
			 </div>
		   </div>
		 </div>
		</div>
		<div class="col-md-6"><h2 id="cen">5000+ books in 70+ languages</h2></div>
		<div class="col-md-3">
		  <div class="well well-lg"> 
			<img id="log" alt="" src="/assets/img/logo.JPG" style="width:100px;height:100px" class="img-circle ">
			<div class="row">
			  <div class="col-sm-12">
				
			  
			  </div>
			</div>
		  </div>
		</div>
	  </div> 
	</div>
  <!-- /cont -->
	<div class="col-md-12">
	  <div class="top-spacer"> </div>
	</div>
	<div class="col-md-12">
	<div class="container">
	  <div class="row">
		<div class="col-md-3" id="one">
		  <div class="well well-lg welone flip-card-back"> 
			<h3>“The library is inhabited by spirits that come out of the pages at night.”   - Isabel Allende
		   <p class="lead"></p>
			</h3>
		 </div>
		</div>
		<div class="col-md-3" id="two">
		  <div class="well well-lg weltwo"> 
			<h3>“If you don’t like to read, you haven’t found the right book.” - J K Rowling
  
		   <p class="lead"></p>
			</h3>
		 </div>
		</div>
		<div class="col-md-3" id="one">
		  <div class="well well-lg welone"> 
			<h3>“Many people, myself among them, feel better at the mere sight of a book.”-Jane Smiley
		   <p class="lead"></p>
			</h3>
		 </div>
		</div>
		<div class="col-md-3" id="two">
		  <div class="well well-lg weltwo"> 
			<h3>“Good friends, good books, and a sleepy conscience: this is the ideal life.”-Mark Twain
		   <p class="lead"></p>
			</h3>
		 </div>
		</div>
	  </div>
		
		<!-- </div> -->
	  </div> 
	</div><!-- /cont -->
  </div>
